@use "./reset";
@use "./phone-input";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
  @extend %unscroll;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
}

// .swiper-pagination {
//   bottom: 0px !important; /* ближе к картинке */
//   background: #000;
// }

.swiper-pagination-bullet.custom-dot {
  width: 4px;
  height: 4px;
  background: #cfcfcf;
  border-radius: 4px;
  opacity: 0.5;
  margin: 0 2px !important;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active.custom-dot {
  width: 14px;
  height: 4px;
  background: #cfcfcf;
  opacity: 1;
}

.swiper-pagination-bullet.custom-dot {
  transform-origin: center;
}

.swiper-pagination-bullet.custom-dot:hover {
  opacity: 0.8;
}

.notify.success {
  background: #2ecc71 !important;
  color: white !important;
  display: flex !important;
  text-align: center !important;
  width: 260px;
}

.notify.error {
  background: #e74c3c !important;
  color: white !important;
  display: flex !important;
  text-align: center !important;
  width: 260px;
}

.my-phone-input {
  // 1. Растягиваем сам контейнер
  width: 100% !important;
  max-width: 100% !important;
  display: flex !important;
  align-items: center;

  // 2. Стилизуем под остальные ваши инпуты (белый фон, серая рамка)
  background: white !important;
  border: 1px solid #e5e7eb !important; // Цвет стандартной border в Tailwind
  border-radius: 8px !important;
  height: 40px !important;
  overflow: hidden;

  // 3. Растягиваем внутренний инпут библиотеки
  input {
    flex: 1 1 auto !important; // Заставляет инпут занять все свободное место
    width: 100% !important;
    background: transparent !important;
    color: black !important; // Текст черный, как в ФИО
    border: none !important; // Убираем внутренние рамки
    outline: none !important;
    padding: 0 10px !important;
    height: 100% !important;
  }

  // 4. Линия-разделитель после флага (если нужна)
  .phone-go-flag-container {
    border-right: 1px solid #e5e7eb !important;
    padding: 0 8px !important;
  }
}
